@-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
  body {
    background-color: #292c31 !important;
    --newtab-search-icon: transparent !important;
    font-family: "scientifica" !important;
  }
  a,
  a:visited,
  a:hover {
    color: #292d31 !important;
  }
  #newtab-search-text {
    background-color: #312929 !important;
    font-size: 18px !important;
    color: #9ba8bb !important;
    box-shadow: none !important;
    text-align: center !important;
    border: none !important;
    font-weight: bold !important;
  }

  .search-wrapper input {
    --newtab-textbox-focus-boxshadow: none !important;
    padding-left: 20px !important;
    padding-inline-end: 13px !important;
  }

  .search-wrapper .logo-and-wordmark .wordmark {
    display: none !important;
  }

  .search-wrapper .logo-and-wordmark {
    margin-bottom: 40px !important;
    padding-top: 60px !important;
    filter: saturate(30%) opacity(50%) !important;
  }

  .search-button {
    background: none !important;
  }

  .prefs-button button {
    fill: #9ba8bb !important;
  }

  .prefs-button button:hover,
  .prefs-button button:focus {
    background-color: transparent !important;
  }

  .contentSearchSuggestionTable {
    display: none !important;
  }
}
:root {
  --in-content-border-active: #9ba8bb !important;
  --in-content-border-active-shadow: none !important;
  --in-content-page-background: #263238 !important;
  --in-content-page-color: #9ba8bb !important;
  scrollbar-color: #677379 #263238 !important;
  scrollbar-width: thin;
}

input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -moz-appearance: none !important;
  background-color: #eee;
  color: #111;
}
